<div class="wrapper">
  <h1>Book Communication</h1>
</div>
<div class="button-zone">
  <% if user_signed_in? %>
    <%= link_to "自分の部屋に行く", "#", class:"btn" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete class:"btn" %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path, class:"btn" %>
    <%= link_to "新規登録", new_user_registration_path, class:"btn" %>
  <% end %>
</div>
<div class="main-field">
  <div class="book-photo">
  image-photo
  </div>
  <div class="book-data">
    <div class="upper-book-data">
      <div class="book-title">
      <%= link_to "Book Title", "#" %>
      </div>
    </div>
    <div class="lower-book-data">
      <div class="user-name">
      <%= link_to "User Name", "#" %>
      </div>
      <div class="read-date">
      2020/12/31
      </div>
    </div>
  </div>
</div>  
