<div class="top-wrapper">
  <%= image_tag "top-backimage.png", class:"wrapper" %>
  <div class="top-title">
    <h1>Book Communication</h1>
  </div>
</div>
<div class="button-zone">
  本の感想を登録する
</div>
<div class="main-field">
  <%= form_with model: @book, local: true do |f| %>
    <div class="form-style">
      <div class="book-form-space">
      <%# 本のタイトル %>
        <%= f.label :title, class:"book-form-tag" %>
        <%= f.text_field :title, class:"book-form-field" %>
      </div>
      
      <%# 本の画像 %>
      <div class="img-upload">
        <%= f.label :image, class:"book-form-tag" %>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
          </p>
          <%= f.file_field :image, id:"item-image" %>
        </div>
      </div>

      <%# 本の作者 %>
      <div class="book-form-space">
        <%= f.label :author, class:"book-form-tag" %>
        <%= f.text_field :author, class:"book-form-field" %>
      </div>

      <%# 読んだ感想 %>
      <div class="book-form-space">
        <%= f.label :impression, class:"book-form-tag" %>
        <%= f.text_area :impression, class:"impression-form-field" %>
      </div>

      <div class="btn-area">
        <%= f.submit "登録する", class:"btn" %>
        <%= link_to "戻る", user_path(current_user.id), class:"btn-2" %>
      </div>
    </div>
  <% end %>
</div>