<div class="top-wrapper">
  <%= image_tag "top-backimage.png", class:"wrapper" %>
  <div class="top-title">
    <h1>Book Communication</h1>
  </div>
</div>
<div class="button-zone">
  <div class="page-title">
  ログイン
  </div>
</div>
<div class="form-main-field">
  <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
    <div class="form-style">
      <div class="form-space">
        <%= f.label :email, class:"user-form-tag" %>
        <%= f.email_field :email, class:"user-form-field" %>
      </div>
      <div class="form-space">
        <%= f.label :password, class:"user-form-tag" %>
        <%= f.password_field :password, class:"user-form-field" %>
      </div>
      <div class="btn-area">
        <%= f.submit "ログイン", class:"btn" %>
        <%= link_to "戻る", root_path, class:"btn-2" %>
      </div>
    </div>
  <% end %>    
</div>